.loader{
    border-radius: 100%;
    position: relative;
}

/* LOADER 1 */

.loader-spinner:before, .loader-spinner:after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 10px solid transparent;
    border-top-color: black;
}

.loader-spinner:before{
    z-index: 100;
    animation: spin 1s infinite;
}

.loader-spinner:after{
    border: 10px solid #ccc;
}

@keyframes spin{
    0%{
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100%{
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}